@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700&display=swap");
body #band .band-box .left-panel p, body #music .music-box .album-box p, body #music .music-box .album-box h2 span, body #tour .table-box table .row .place, body #tour .table-box table .row .city, body .section-title h1, body .navbar-mobile .dropdown-box .dropdown-option a, body .navbar-desktop a {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body #contact .social-media a, body #links .social-media a, body #links .links-box div a, body .navbar-mobile .dropdown-box .dropdown-option a, body .navbar-mobile .nav-box .burger, body .navbar-desktop a {
  outline: none;
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: #dfdfdf;
}
body .navbar-desktop {
  width: 100%;
  height: 150px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  transition: 0.5s;
}
@media screen and (max-width: 800px) {
  body .navbar-desktop {
    display: none;
  }
}
body .navbar-desktop a {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 20px;
  color: aliceblue;
}
body .navbar-desktop img {
  width: 15%;
  height: auto;
  margin: 0 20px;
}
body .navbar-mobile {
  width: 100%;
  height: auto;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}
body .navbar-mobile .nav-box {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .navbar-mobile .nav-box .burger {
  position: absolute;
  left: 0;
  width: 75px;
  height: 75px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
}
body .navbar-mobile .nav-box .burger i {
  color: #fff;
  font-size: 20px;
  text-align: center;
}
body .navbar-mobile .nav-box img {
  width: 15%;
  height: auto;
  margin: 10px 20px;
}
body .navbar-mobile .dropdown-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  display: none;
  background-color: #000;
}
body .navbar-mobile .dropdown-box .dropdown-option {
  width: 100%;
  height: 25px;
  background-color: #000;
  border: none;
  margin: 10px;
}
body .navbar-mobile .dropdown-box .dropdown-option a {
  font-size: 15px;
  text-align: left;
  letter-spacing: 3px;
  color: #fff;
}
body nav {
  width: 100%;
  height: 100vh;
  background-image: url("../file/img/banero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body nav iframe {
  width: 700px;
  height: 400px;
}
@media screen and (max-width: 800px) {
  body nav iframe {
    width: 400px;
    height: 200px;
  }
}
body section {
  width: 70%;
  height: auto;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 100px;
  border-top: 0.1px solid #2a271e;
  padding: 0 300px;
}
body .section-title h1 {
  font-size: 50px;
  text-align: center;
  letter-spacing: 20px;
  text-transform: uppercase;
}
body #tour .table-box {
  width: 100%;
  height: auto;
}
body #tour .table-box table {
  width: 100%;
  height: auto;
}
body #tour .table-box table .row th {
  padding-bottom: 50px;
}
body #tour .table-box table .row th button {
  background-color: transparent;
  color: #fff;
  border: 0.1px solid #fff;
  padding: 10px 40px;
  cursor: pointer;
}
body #music {
  width: 100%;
  height: auto;
  background-image: url("../file/img/ytheaderblack.jpg");
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #music .music-box {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 800px) {
  body #music .music-box {
    flex-direction: column;
  }
}
body #music .music-box .album-box {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #music .music-box .album-box img {
  width: 300px;
  height: 300px;
  margin: 20px;
}
body #music .music-box .album-box h2 {
  font-size: 20px;
  text-align: center;
  line-height: 10px;
}
body #music .music-box .album-box p {
  font-size: 15px;
  text-align: center;
}
body #music .music-box .spotify-box {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  body #music .music-box .spotify-box {
    margin-top: 40px;
  }
}
body #band {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #band .band-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 800px) {
  body #band .band-box {
    flex-direction: column;
  }
}
body #band .band-box .left-panel {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #band .band-box .left-panel p {
  line-height: 2px;
  letter-spacing: 2px;
}
body #band .band-box .right-panel {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #band .band-box .right-panel img {
  width: 60%;
  height: 60%;
}
body #band .band-description {
  margin-top: 50px;
  width: 80%;
  height: auto;
  text-align: center;
  word-break: inherit;
  line-height: 25px;
}
body #links {
  width: 100%;
  height: auto;
  background-image: url("../file/img/ytheaderblack.jpg");
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
  padding-bottom: 100px;
}
body #links .links-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
body #links .links-box div {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #links .links-box div h2 {
  font-size: 35px;
  text-align: center;
}
body #links .links-box div a {
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  color: #fff;
}
body #links .social-media {
  margin-top: 50px;
}
body #links .social-media a {
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin: 30px;
}
body #contact {
  width: 100%;
  height: auto;
}
body #contact p {
  font-size: 20px;
  text-align: center;
}
body #contact .social-media {
  margin-top: 50px;
}
body #contact .social-media a {
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin: 30px;
}

/*# sourceMappingURL=mainStyle.css.map */
