@import "font.scss";
@import "mixins.scss";

html, body {
    overflow-x: hidden;
    @extend %Alegreya;
  }

body {
    @extend %setup;
    @include size(100%, auto);
    @include flexMixin(flex-start, center, column);
    background-color: rgb(0, 0, 0);
    color: #fff;
    .navbar {
        @include size(100%, 150px);
        background-color: transparent; //transarent in future
        @include flexMixin(center, center, row);
        position: fixed;
        transition: 0.5s;
        a {
            @extend %normalizeButton;
            @include font(20px, center);
            text-transform: uppercase;
            @extend %AlegreyaThin;
            margin: 0 20px;
            color: aliceblue;
        }

        img {
            @include size(10%, auto);
            margin: 0 20px;
        }
    }
    
    nav {
        @include size(100%, 100vh);
        background-image: url("../file/img/banero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        @include flexMixin(center, center, column);
        
        iframe {
            @include size(700px, 400px);
        }
    }
    section {
        @include size(70%, auto);
        margin: 50px 0;
        @include flexMixin(center, center, column);
        
    }

    .section-title {
        margin: 100px;
        border-top: 0.1px solid #2a271e;
        padding: 0 300px;
        h1 {
            @extend %AlegreyaThin;
            @include font(50px, center);
            letter-spacing: 20px;
            text-transform: uppercase;
        }
    }

    #tour {
        .table-box {
            @include size(100%, auto);
            table {
                @include size(100%, auto);
                .row {
                    .place, .city {
                        @extend %AlegreyaThin;
                    }
                    th {
                        padding-bottom: 50px;
                        button {
                            background-color: transparent;
                            color: #fff;
                            border: 0.1px solid #fff;
                            padding: 10px 40px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    #music {
        @include size(100%, auto);
        background-image: url("../file/img/ytheaderblack.jpg");
        background-repeat: no-repeat;
        background-size: fill;
        background-position: center;
        padding-bottom: 100px;
        @include flexMixin(center, center, column);

        .music-box {
            @include size(80%, auto);
            @include flexMixin(space-around, center, row);
            .album-box {
                @include size(50%, auto);
                @include flexMixin(center, center, column);
                
                img {
                    @include size(300px, 300px);
                    margin: 20px;
                }
                h2 {
                    @include font(20px, center);
                    line-height: 10px;
                    span {
                        @extend %AlegreyaThin;
                    }
                }
                p {
                    @extend %AlegreyaThin;
                    @include font(15px, center);
                }
            }
            .spotify-box {
                @include size(50%, auto);
                @include flexMixin(center, center, column);
            }
        }
    }

    #band {
        @include flexMixin(center, center, column);
        .band-box {
            @include size(100%, auto);
            @include flexMixin(center, center, row);    
            .left-panel {
                @include size(50%, auto);
                @include flexMixin(center, center, column);
                p {
                    line-height: 2px;
                    @extend %AlegreyaThin;
                    letter-spacing: 2px;
                }
            }
            .right-panel {
                @include size(50%, auto);
                @include flexMixin(center, center, column);
                img {
                    @include size(60%, 60%);
                }
            }
        }
        .band-description {
            margin-top: 50px;
            @include size(80%, auto);
            text-align: center;
            word-break: inherit;
            line-height: 25px;
        }
    }



    #contact {
        @include size(90%, auto);
        
        
    }
}