@mixin size($width, $height) {
    width: $width;
    height: $height;
}
@mixin flexMixin($just, $align, $dir) {
    display: flex;
    justify-content: $just;
    align-items: $align;
    flex-direction: $dir;
}
%setup {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
%backgroundMax {
    background-size: 100%;
    background-repeat: no-repeat;
}
%fontWhite {
    color: rgb(228, 228, 228);
}
%fontBlack {
    color: rgb(39, 39, 39); 
}
%borderRadius {
    border-radius: 5px;
}