@import "mixins.scss";
@import "font.scss";

@mixin linearGradient($color1, $color2) {
    background: linear-gradient(135deg, $color1 0%,$color2 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000;
    color: rgb(168, 168, 168);
    font-family: 'Open Sans', sans-serif;
    
}

section {
    @include size(100%, 100vh);
}

h1 {
    @include font(70px, center);
    letter-spacing: 40px;
    font-weight: 100;
    color: rgb(168, 168, 168);
    font-family: 'Alegreya Sans', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


#showcase {
    position: relative;
    @include flexMixin(center, center, column);
    .video-box {
        @include size(70%, auto);
        @include flexMixin(center, center, column);
        position: absolute;
        video {
            width: 100%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
#biography {
    @include flexMixin(center, flex-start, column);
    padding-left: 100px;
    
    p {
        @include size(50%, auto);
        line-height: 2;
        @include font(20px, left);
    }
    
}

#press {
    @include flexMixin(center, center, column);
    a {
        margin: 20px;
        @include font(20px, center);
    }
}
#discography {
    @include flexMixin(center, center, column);
    .row {
        @include size(60%, 500px);
        margin: 30px;
        @include flexMixin(center, center, row);
        .left {
            @include size(50%, 100%);
            @include flexMixin(center, center, column);
            img {
                @include size(400px, auto);
            }
        }
        .right {
            @include size(50%, 100%);
            @include flexMixin(center, center, column);
        }
    }
}
#contact {
    @include flexMixin(center, center, column);
}
