@import "mixins.scss";
@import "font.scss";

@mixin linearGradient($color1, $color2) {
    background: linear-gradient(135deg, $color1 0%,$color2 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #000;
    color: rgb(168, 168, 168);
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

section {
    
}

h1 {
    margin-right: -40px;
    @include font(70px, center);
    letter-spacing: 40px;
    font-weight: 100;
    color: rgb(168, 168, 168);
    font-family: 'Alegreya Sans', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    text-align: center;
    line-height: 2;
}

nav {
    @include size(100%, 70px);
    position: fixed;
    z-index: 99999999999;
    @include flexMixin(flex-end, center, row);
    background-color: rgba(0, 0, 0, 0.459);
    a {
        margin-right: 20px;
    }
}

#showcase {
    @include size(100%, 100vh);
    position: relative;
    @include flexMixin(center, center, column);
    .video-box {
        @include size(70%, auto);
        @include flexMixin(center, center, column);
        position: absolute;
        video {
            width: 100%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
#biography {
    @include size(100%, 100vh);
    @include flexMixin(center, flex-start, column);
    padding-left: 100px;
    
    p {
        @include size(50%, auto);
        line-height: 2;
        @include font(20px, left);
    }
    
}

#members {
    @include size(100%, 100vh);
    @include flexMixin(center, flex-end, column);
    padding-right:0;
    h1, p {
        padding-right: 100px;
    }
    

}

#press {
    @include size(100%, 100vh);
    @include flexMixin(center, center, column);
    a {
        margin: 20px;
        @include font(40px, center);
    }
}
#discography {
    @include flexMixin(center, center, column);
    @include size(100%, 100vh);
    .row {
        @include size(80%, auto);
        @include flexMixin(space-around, flex-start, row);
    }
    .box {
        @include size(50%, auto);
        @include flexMixin(center, center, column);
        .top {
            @include size(100%, auto);
            @include flexMixin(center, center, column);
            img {
                @include size(400px, auto);
            }
        }
        .bottom {
            @include size(100%, 100px);
            @include flexMixin(center, center, column);
            h2 {
                font-weight: 100;
                font-style: italic;
                @include font(15px, center);
            }
        }
    }
}
#contact {
    margin: 0;
    padding: 0;
    @include size(100%, 100vh);
    @include flexMixin(center, center, column);
    a {
        margin: 10px;
    }
    p {
        margin-top: 50px;
    }
}
footer {
    @include flexMixin(center, center, row);
    @include font(8px, center);
    margin-bottom: 10px;
}
